<div [id]="'STACKS'" class="justify-content-center">
    
    <div class="container">
        <p style="text-align: center; margin: 10%">
            <strong>
                {{ lang.stacks.label1 }}
            </strong>
        </p>
        <h3 style="text-align: center;">{{ lang.stacks.frontendlabel }}</h3>
    </div>

    <br>
    <br>
    
    <div class="services">
        <div class="services">
            <div class="d-flex align-items-center justify-content-center">
                <h4 style="text-align: center;">Front-end</h4>
            </div>
            <div class="row justify-content-md-center">
                <div *ngFor="let item of lang.stacks.frontend" class="col col-lg-2 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img class="stack-img" [src]="item.image">
                            </div>
                        </div>
                        <div class="card-footer" style="background-color: #17a2b8;">
                            <p style="text-align: center; color: white;">{{item.label}}</p>
                        </div>
                    </div>
                    <a href="{{ item.link }}" target="_blank" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>

    <br>
    
    <div style="padding: 10px;">
        <div class="d-flex align-items-center justify-content-center">
            <h4 style="text-align: center;">Back-end</h4>
        </div>

        <div class="row justify-content-md-center">
            <div *ngFor="let item of lang.stacks.backend" class="col col-lg-2 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <img class="stack-img" [src]="item.image">
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: #343a40;">
                        <p style="text-align: center; color: white;">{{item.label}}</p>
                    </div>
                </div>
                <a href="{{ item.link }}" target="_blank" class="stretched-link"></a>
            </div>
        </div>
    </div>

    <br>
    
    <div class="services">
        <div class="d-flex align-items-center justify-content-center">
            <h4 style="text-align: center;">{{ lang.stacks.dataLabel }}</h4>
        </div>

        <div class="row justify-content-md-center">
            <div *ngFor="let item of lang.stacks.data" class="col col-lg-2 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <img class="stack-img" [src]="item.image">
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: #17a2b8;">
                        <p style="text-align: center; color: white;">{{item.label}}</p>
                    </div>
                </div>
                <a href="{{ item.link }}" target="_blank" class="stretched-link"></a>
            </div>
        </div>
    </div>
    
    <div class="" style="padding: 10px;">
        <div class="d-flex align-items-center justify-content-center">
            <h4 style="text-align: center;">{{ lang.stacks.serverslabel }}</h4>
        </div>
        <div class="row justify-content-md-center">
            <div *ngFor="let item of lang.stacks.servers" class="col col-lg-2 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <img class="stack-img" [src]="item.image">
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: #343a40;">
                        <p style="text-align: center; color: white;">{{item.label}}</p>
                    </div>
                </div>
                <a href="{{ item.link }}" target="_blank" class="stretched-link"></a>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <!-- asdasd -->
    <div class="container">
        <h3 style="text-align: center;">{{ lang.stacks.mobilelabel }}</h3>
    </div>

    <div class="services">
        <div class="d-flex align-items-center justify-content-center">
            <h4 style="text-align: center;">Android</h4>
        </div>
        
        <div class="row justify-content-md-center">
            <div *ngFor="let item of lang.stacks.android" class="col col-lg-2 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <img class="stack-img" [src]="item.image">
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: #17a2b8;">
                        <p style="text-align: center; color: white;">{{item.label}}</p>
                    </div>
                </div>
                <a href="{{ item.link }}" target="_blank" class="stretched-link"></a>
            </div>
        </div>
    </div>
    
    <br>
    <div class="" style="padding: 10px;">
        <div class="d-flex align-items-center justify-content-center">
            <h4 style="text-align: center;">iOS</h4>
        </div>
        
        <div class="row justify-content-md-center">
            <div *ngFor="let item of lang.stacks.ios" class="col col-lg-2 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <img class="stack-img" [src]="item.image">
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: #343a40;">
                        <p style="text-align: center; color: white;">{{item.label}}</p>
                    </div>
                </div>
                <a href="{{ item.link }}" target="_blank" class="stretched-link"></a>
            </div>
        </div>

    </div>

    <br>
    
    <div class="services">
        <div class="d-flex align-items-center justify-content-center">
            <h4 style="text-align: center;">{{ lang.stacks.hibridlabel }}</h4>
        </div>
        <div class="row justify-content-md-center">
            <div *ngFor="let item of lang.stacks.hibryd" class="col col-lg-2 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <img class="stack-img" [src]="item.image">
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: #17a2b8;">
                        <p style="text-align: center; color: white;">{{item.label}}</p>
                    </div>
                </div>
                <a href="{{ item.link }}" target="_blank" class="stretched-link"></a>
            </div>
        </div>
    </div>
    
</div>