<div [id]="'STACKS'" class="container justify-content-center">
    <div>
        <p style="text-align: center; margin: 10%">
            <strong>
                Cuento con un amplio conocimiento en diversas tecnologías que me permiten
                trabajar en diversos ambientes. Echale un vistazo a los Stacks que manejo en 
                cada una de las áreas
            </strong>
        </p>
        <div>
            <h2 style="text-align: center;">Mi Stack de tecnologías Web</h2>
            <div class="" style="margin-top: 100px;">
                <div class="d-flex align-items-center justify-content-center">
                    <h4 style="text-align: center;">Front-end</h4>
                </div>
                <div class="d-flex justify-content-center">
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/angular-logo.png">
                        <p style="text-align: center;">Angular</p>
                    </div>
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/ngrx-logo.svg">
                        <p style="text-align: center;">NgRx</p>
                    </div>
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/bootstrap-logo.svg">
                        <p style="text-align: center;">Bootstrap</p>
                    </div>
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/ts-logo.png">
                        <p style="text-align: center;">TypeScript</p>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="d-flex align-items-center justify-content-center">
                    <h4 style="text-align: center;">Back-end</h4>
                </div>
                
                <div class="d-flex justify-content-center">
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/node-logo.png">
                        <p style="text-align: center;">NodeJS</p>
                    </div>
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/sequilize-logo.png">
                        <p style="text-align: center;">Sequilize</p>
                    </div>
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/mysql-logo.png">
                        <p style="text-align: center;">MySQL</p>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="d-flex align-items-center justify-content-center">
                    <h4 style="text-align: center;">Servidores</h4>
                </div>
                <div class="d-flex justify-content-center">
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/nginx-logo.png">
                        <p style="text-align: center;">NGINX</p>
                    </div>
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/nginxproxy-logo.png">
                        <p style="text-align: center;">Proxy Manager</p>
                    </div>
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/debian-logo.png">
                        <p style="text-align: center;">Debian</p>
                    </div>
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/docker-logo.png">
                        <p style="text-align: center;">Docker</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div style="margin-top: 100px;">
            <h2 style="text-align: center;">Mi Stack de tecnologías móviles</h2>
            <div class="" style="margin-top: 100px;">
                <div class="d-flex align-items-center justify-content-center">
                    <h4 style="text-align: center;">Android</h4>
                </div>
                <div class="d-flex justify-content-center">
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/kotlin-logo.png">
                        <p style="text-align: center;">Kotlin</p>
                    </div>
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/java-logo.png">
                        <p style="text-align: center;">Java</p>
                    </div>
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/as-logo.png">
                        <p style="text-align: center;">Android Studio</p>
                    </div>
                    
                </div>
            </div>
            <div class="">
                <div class="d-flex align-items-center justify-content-center">
                    <h4 style="text-align: center;">iOS</h4>
                </div>
                
                <div class="d-flex justify-content-center">
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/swift-logo.png">
                        <p style="text-align: center;">Swift</p>
                    </div>
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/swiftui-logo.png">
                        <p style="text-align: center;">SwiftUI</p>
                    </div>
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/xcode-logo.png">
                        <p style="text-align: center;">XCode</p>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="d-flex align-items-center justify-content-center">
                    <h4 style="text-align: center;">Híbrido</h4>
                </div>
                <div class="d-flex justify-content-center">
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/angular-logo.png">
                        <p style="text-align: center;">Angular</p>
                    </div>
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/ngrx-logo.svg">
                        <p style="text-align: center;">NgRx</p>
                    </div>
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/ionic-logo.png">
                        <p style="text-align: center;">Ionic</p>
                    </div>
                    <div>
                        <img class="stack-img" src="../../../../../assets/images/capacitor.png">
                        <p style="text-align: center;">Capacitor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
