<div [id]="'ABOUT'" class="about justify-content-center" id="about">
    <h3>Acerca de mí</h3>
    <p style="margin-left: 20%; margin-right: 20%;">
    Desarrollador Full-Stack con especialidad en desarrollo de aplicaciones para dispositivos móviles 📱 egresado de Ingeniería Informática 
    por parte del Instituto Tecnológico de Chihuahua II 👨🏼‍🎓 <br><br>
    Cuento con habilidades de comunicación, control de tiempos, trabajo bajo presión, atención/soporte a cliente final, versatilidad y organización 
    para colaborar en proyectos modulares a pequeña o gran escala; autodidácta, 
    adaptable a los cambios y a las tecnologías con las cuales se tenga que trabajar. Reconozco la evolución, la exigencia 
    y la disciplina que requiere la industria global por lo que busco que mi conocimiento sea un activo para tu empresa.
    </p>
</div>
