<div class="container about d-flex" id="about">
    <div class="row align-self-center">
        <div class="col-12 col-md-6">
            <div class="d-flex column flex-column">
                <img class="logo-about" src="../../../assets/images/profileultimate.png" alt="Logo..."/> 
            </div>
        </div>
        <div class="col-12 col-md-6 about-description">
            <h3>Acerca de mí</h3>
            <p>Próximo a egresar de Ingeniería Informática del Instituto Tecnológico de Chihuahua II. <br/><br/>
            Desarrollador Full-Stack con especialidad en desarrollo de aplicaciones para dispositivos móviles. 
            Poseo habilidad, versatilidad y organización para colaborar en proyectos modulares a pequeña o gran escala; autodidácta, 
            adaptable a los cambios y a las tecnologías con las cuales se tenga que trabajar. Reconozco la evolución, la exigencia 
            y la disciplina que requiere la industria global; busco que mi conocimiento sea un activo para tu empresa.
            </p>
        </div>
    </div>
</div>
