<div class="container about" id="about">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="d-flex column flex-column">
                <img class="logo-about" src="../../../assets/images/profileultimate.png" alt="Logo..."/> 
                <p class="name-about">Abraham Luna Cázares</p>
            </div>
        </div>
        <div class="col-12 col-md-6 about-description">
            <h3>Acerca de mí</h3>
            <p>Próximo a egresar de Ingeniería Informática del Instituto Tecnológico de Chihuahua II. <br/><br/>
            Desarrollador Full-Stack con especialidad en desarrollo de aplicaciones para dispositivos móviles, poseo versatilidad
            para colaborar en proyectos modulares; autodidácta, adaptable a los cambios y a las tecnologías 
            con las cuales se tenga que trabajar. Reconozco la evolución, la exigencia y la disciplina que requiere la industria global;
            busco que mi conocimiento sea un activo para tu empresa.
            </p>
        </div>
    </div>
</div>
