<div class="container experience" id = "experience">
    <h2>My experience</h2>
    <p>
        Take a look the real projects that I have carried out, the achievements that I have obtained and
        the events in which I have participated.
    </p>
    <h3>Software sold to companies</h3>

    <div class="row experience-article">
        <div class="col col-lg-6 col-md-12 col-sm-12 col-12">
            <p class="col-text">During February 2021 I participated in the development of a native Android App programmed with Kotlin for a security company in Chihuahua. I was the manager
            of creating logic modules, data modeling, graphical interface functionality, functions to automatically generate PDFs with the format
            specified by the company and also in the development of the graphical interface.
            </p>
        </div>
        <div class="col col-lg-6 col-md-12 col-sm-12 col-12 row lower-col">  
            <div class="row row-cols-2 ">
                <div class="col">
                    <div class="d-flex justify-content-end">
                        <img class="potrait-img-sm" src="../../../assets/images/i1.png"/>
                    </div>
                </div>
                <div class="col">
                        <img class="potrait-img-sm" src="../../../assets/images/i2.png"/>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <h3>Freelancer Software</h3>
    <div class="row experience-article">
        <div class="col col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="d-flex justify-content-center">
                <img class="landscape-img" src="../../../assets/images/experience-apps.png"/>
            </div>
        </div>
        <div class="col col-lg-6 col-md-12 col-sm-12 col-12 col-content d-flex flex-column lower-col">
            <p class="col-text">Between April 2020 and February 2021 as a Freelancer I developed several applications which you can see in the Playstore, they have had good
                acceptance by users. These Apps were made for Android natively with Java and Kotlin.
                In addition, 2 of the 3 have a relational database made in SQLite.
            </p>
            <a href="https://play.google.com/store/apps/developer?id=Software+Tizona" target = "_blank" class="btn btn-info experience-button mt-auto">Ir a la Playstore <fa-icon [icon]="faPlayCircle"></fa-icon></a>                                       
        </div>
    </div>
    <hr/>
    <h3>Hackathons and Tournaments</h3>
    <div class="row experience-article">
        <div class="col col-lg-6 col-md-12 col-sm-12 col-12">
            <p class="col-text">During the university I participated in 4 hackathons of different organizations:</p>
            <ul>
                <li>NASA Hackathon "Space Apps": October 2020</li>
                <li>Syscom Hackathon: November 2019</li>
                <li>Hackathon Heineken "Hack2Beer": October 2019</li>
                <li>Local Robotics and Software Contest of the Technological Institute of Chihuahua II: June 2019</li>
            </ul>
            <p class="col-text">I got first place in the local Technological Robotics contest thanks to a drone
            anti-fire that was controlled by bluetooth through the cell phone. I also got a second place at the Heineken Hackathon
            with a Software and a proposal through a Smartband for the monitoring of errors of the production lines.</p>
        </div>
        <div class="col col-lg-6 col-md-12 col-sm-12  col-12">
            <div class="d-flex justify-content-center">
                <img class="landscape-img" src="../../../assets/images/image-dron.jpeg"/>
            </div>
        </div>
    </div>
</div>
