
<div class="container experience" id = "experience">
    <h2>Portafolio</h2>
    <p>
        En este apartado mostraré algunos de los proyectos y ejercicios que he realizados así como su código fuente (En algunos casos no). 
        Lo anterior con el objetivo de mostrarte lo que puedo hacer.
    </p>
    
    <h3>10 proyectos que todo programador web debería hacer</h3>

    <div class="row experience-article">
        <div class="col col-lg-6 col-md-12 col-sm-12 col-12">
            <p class="col-text">
                Estos son 10 una recopilación de proyectos que, según estuve buscando en varios
                foros de internet, todo desarrollador web mínimo debería ser capaz de poder realizarlos.
                Entonces, decidí incluirlos en mi portafolio.
            </p>
        </div>
        <div class="col col-lg-6 col-md-12 col-sm-12  col-12">
            <div class="d-flex justify-content-center">
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                        Elige un proyecto <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" href="#">Countdown Timer</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Quiz App</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Recipe App</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Notes App</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">ToDo App</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Movies App</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">GitHub Profiles</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Drawing App</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Password Generator</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Weather App</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <hr/>
    <h3>Freelancer Software</h3>
    <div class="row experience-article">
        <div class="col col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="d-flex justify-content-center">
                <img class="landscape-img" src="../../../assets/images/experience-apps.png"/>
            </div>
        </div>
        <div class="col col-lg-6 col-md-12 col-sm-12 col-12 col-content d-flex flex-column lower-col">
            <p class="col-text">Between April 2020 and February 2021 as a Freelancer I developed several applications which you can see in the Playstore, they have had good
                acceptance by users. These Apps were made for Android natively with Java and Kotlin.
                In addition, 2 of the 3 have a relational database made in SQLite.
            </p>
            <a href="https://play.google.com/store/apps/developer?id=Software+Tizona" target = "_blank" class="btn btn-info experience-button mt-auto">Ir a la Playstore </a>                                       
        </div>
    </div>
    <hr/>

</div>