<div [id]="'INICIO'" class="header-wraper" id="header">
    <div class="main-info">
        <img class="logo-about" src="../../../assets/images/profileultimate.png" alt="Logo..."/> 
        <p>{{ languageEs.header.title }}</p>
        <h2><strong>{{ languageEs.header.message }}</strong></h2>
        <ngtypewriter class="typed-text" [StringList]='languageEs.header.particles' [speed]='1000'></ngtypewriter>
        <a href="#footer" class="btn-main-offer">{{languageEs.header.button}}</a>
    </div>
</div>